
<div id="intro">

  <div class="headline-bg">

    <div class="container">

      <img class="headline-left-content animated bounceIn tada" alt="<%= data.site.title %>" src="<%= data.site.badge %>" />
      
      <div class="headline-right-content animated bounceInDown">

	<div>
	  <h1><%= data.site.tagline %></h1>
	  <%= data.site.intro_text %>
	</div>

	<br/>
	
	<div class="row">
	  <div class="headline-list">
	    <h1><%= data.site.tagline_sec %></h1>
	  </div>
	  <div class="headline-button">
	    <a href="#menu"><%= data.site.intro_menu_text %></a>
	  </div>
	</div>

      </div>
      
    </div>

  </div>

</div>	
