
<%= partial "partials/top_bar" %>

<div style="clear: both;"></div>
		
<%= partial "partials/intro" %>

<section class="ss-style-top"></section>

<%= partial "partials/deals" %>

<section class="ss-style-bottom"></section>
		
<%= partial "partials/menu" %>

<section class="ss-style-top"></section>
	
<%= partial "partials/about" %>

<section class="ss-style-bottom"></section>
	
<%= partial "partials/contact" %>
		
